snippet #ifdef "#ifdef ... #endif"
#ifdef ${1:def}
$0
#endif /* $1 */
endsnippet

snippet #ifndef "#ifndef ... #endif"
#ifndef ${1:def}
$0
#endif /* $1 */
endsnippet

snippet #ifdefe "#ifdef ... #else ... #endif"
#ifdef ${1:def}
$0
#else /* $1 */

#endif /* $1 */
endsnippet

snippet main "int main(int argc, char *argv[]) {}"
int main(int argc, char *argv[])
{
	$0
	return (0);
}
endsnippet

snippet mainn "int main(void) {}"
int main(void)
{
	$0
	return (0);
}
endsnippet
