extends cpp

snippet cl "class .. (class)" !
class ${1:`!p snip.rv = snip.basename or "name"`}
{
public:
	${1/(\w+).*/$1/}() = default;

	// These operations are forbidden.
	${1/(\w+).*/$1/}(${1/(\w+).*/$1/} &&rhs) = delete;
	${1/(\w+).*/$1/} & operator=(${1/(\w+).*/$1/} &&rhs) = delete;
};
endsnippet

# vim:ft=snippets:
