[submodule "bundle/completion/clang_complete"]
	path = bundle/completion/clang_complete
	url = git://github.com/Rip-Rip/clang_complete.git
[submodule "bundle/completion/inccomplete"]
	path = bundle/completion/inccomplete
	url = https://github.com/xaizek/vim-inccomplete.git
[submodule "bundle/other/ultisnips"]
	path = bundle/other/ultisnips
	url = git://github.com/xaizek/ultisnips.git
[submodule "bundle/other/repeat"]
	path = bundle/other/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/other/emacscommandline"]
	path = bundle/other/emacscommandline
	url = https://github.com/xaizek/vim-emacscommandline.git
[submodule "bundle/other/commentary"]
	path = bundle/other/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/other/fswitch"]
	path = bundle/other/fswitch
	url = https://github.com/derekwyatt/vim-fswitch.git
[submodule "bundle/other/fugitive"]
	path = bundle/other/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/other/linediff"]
	path = bundle/other/linediff
	url = https://github.com/AndrewRadev/linediff.vim.git
[submodule "bundle/textobj/arg"]
	path = bundle/textobj/arg
	url = https://github.com/inkarkat/argtextobj.vim.git
[submodule "bundle/other/firsteffectiveline"]
	path = bundle/other/firsteffectiveline
	url = https://github.com/vim-scripts/FirstEffectiveLine.vim.git
[submodule "bundle/filetypes/gitignore"]
	path = bundle/filetypes/gitignore
	url = https://github.com/rdolgushin/gitignore.vim.git
[submodule "bundle/filetypes/syntax-extra"]
    path = bundle/filetypes/syntax-extra
    url = https://github.com/justinmk/vim-syntax-extra.git
[submodule "bundle/other/startify"]
	path = bundle/other/startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "bundle/other/extradite"]
	path = bundle/other/extradite
	url = https://github.com/int3/vim-extradite.git
[submodule "bundle/other/preamble"]
	path = bundle/other/preamble
	url = https://github.com/xaizek/preamble.vim.git
[submodule "bundle/other/includefixer"]
	path = bundle/other/includefixer
	url = https://github.com/xaizek/includefixer.git
[submodule "bundle/other/undotree"]
	path = bundle/other/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "bundle/other/headerguard"]
	path = bundle/other/headerguard
	url = https://github.com/drmikehenry/vim-headerguard.git
[submodule "bundle/other/committia"]
	path = bundle/other/committia
	url = https://github.com/rhysd/committia.vim.git
[submodule "bundle/other/gutentags"]
	path = bundle/other/gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
