[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "bundle/inccomplete"]
	path = bundle/inccomplete
	url = https://github.com/xaizek/vim-inccomplete.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git://github.com/xaizek/ultisnips.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/emacscommandline"]
	path = bundle/emacscommandline
	url = https://github.com/xaizek/vim-emacscommandline.git
[submodule "bundle/vrackets"]
	path = bundle/vrackets
	url = https://github.com/vim-scripts/vrackets
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/fswitch"]
	path = bundle/fswitch
	url = https://github.com/derekwyatt/vim-fswitch.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/linediff"]
	path = bundle/linediff
	url = https://github.com/AndrewRadev/linediff.vim.git
[submodule "bundle/argtextobj"]
	path = bundle/argtextobj
	url = https://github.com/vim-scripts/argtextobj.vim.git
