[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = git@github.com:Rip-Rip/clang_complete.git
[submodule "bundle/inccomplete"]
	path = bundle/inccomplete
	url = git@github.com:xaizek/vim-inccomplete.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/emacscommandline"]
	path = bundle/emacscommandline
	url = git@github.com:xaizek/vim-emacscommandline.git
